@import "compass";

@import "mixins";

html {
	height: 100%;
}
body {
	height: 100%;
}
header {
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}
.nav-wrap {
	padding: 0;
	margin: 0 auto;
}
.logo-wrap {
	padding: 1em;
	margin: 0 auto;
	width: 15em;
}
.logo-wrap img {
	height: 2.6em;
}
.feature {
	padding: 0 4em 1em;
	color: #fff;
	text-shadow: #333 1px 1px 1px;
}
main {
	padding: 2.5em 0 1em;
}
main section.contact {
	padding: 2em 2em 0;
}
// .liame-itna {
// 	unicode-bidi: bidi-override;
// 	direction: rtl;
// }
@media only screen and (min-width: 49em) {
	.nav-wrap {
		padding: 3em 0 0;
		max-width: 50em;
	}
	.feature {
		padding: 8em 12em 12em;
	}
	main section.contact {
		padding: 2em 12em 0;
	}
}
@media only screen and (min-width: 72em) {
	.nav-wrap {
		max-width: 70em;
	}
	.feature {
		padding: 8em 20em 12em;
	}
}