- var config = {siteTitle: "e53 Publishing", siteDescription: "We Publish Books. Period. e53 Publishing offers support and expertise in turning great ideas into tangeable results. We provide innovative solutions and experience in publication, allowing the product of our efforts to reach unprecedented visibility."}
block config