meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
mixin title(title)
	if title && config.siteTitle
		title= title + " - " + config.siteTitle
	else
		if config.siteTitle
			title= config.siteTitle
		else
			title jade-template
mixin description(description)
	if description
		meta(name='description', content=description)
	else
		if config.siteDescription
			meta(name='description', content=config.siteDescription)
		else
			meta(name='description', content='A cool site using jade')