extends jade/template

block feature
	.feature.container
		h1 We Publish Books. Period.
		//- p.lead Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
		//- p.lead Unleashing the power of words, Connecting people and ideas, Telling stories
		//- p.lead e53 Publishing offers support and expertise in bringing great ideas to tangeable results. We provide innovative solutions and experience in publication, allowing the product of our efforts to reach unprecedented visibility. We are always expanding our horizons by exploring new perspectives.
		p.lead e53 Publishing offers support and expertise in turning great ideas into tangeable results. We provide innovative solutions and experience in publication, allowing the product of our efforts to reach unprecedented visibility. 
		//- We are always expanding our horizons by exploring new perspectives.

block main
	section
		//- p.lead Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		//- p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
		//- p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
		//- p.lead e53 Publishing offers support and expertise in bringing great ideas to tangeable results. We porvide innovative solutions and expertise in publication, allowing the product of our efforts to reach unprecedented visibility.

	| &nbsp;

	section.contact
		.panel.panel-info
			.panel-heading
				h3.panel-title Contact Us
			.panel-body
				.form-horizontal(role='form')
					.form-group
						label.col-sm-2.control-label Email
						.col-sm-10
							span.form-control#e53-email info@e53publishing.com
